  body { background-color:gray;}
	h1 {text-align:center;}

	div#tablero {
    width:310px;
    height:310px;
    padding:0px;
    border: 7px solid #999;
    background-color:white;
    margin: 20px auto;
    cursor:pointer;
}

	div#tablero div {
    width:100px;
    height:100px;
    float:left;
    margin:0px;
    font-size: 90px;
    text-align:center;
}

	div#celda1,div#celda2,div#celda3,div#celda4,div#celda5,div#celda6 {border-bottom: 5px solid black;}
	div#celda1,div#celda2,div#celda4,div#celda5,div#celda7,div#celda8 {border-right: 5px solid black;}
	div#tablero > div:hover {background-color:#ddd;}

  div#consola {
    width:310px;
    height:35px;
    padding:7px;
    border: 5px solid #999;
    background-color:white;
    margin: 10px auto;
    text-align:center;
    color:darkgreen;
}

  p {
    color: black;
    font-size: 20px;
}

  a {
    text-decoration:none;
    color: blue;
}

a:hover {
    font-weight: bold;
}
